@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>
    <a href="/Admin/ListCategories">Вікові Категорії</a>
</p>
<p>
    <a href="/Admin/ListTournaments">Види змагань</a>
</p>
<p>
    <a href="/Admin/ListEvents">Турніри</a>
</p>
<p>
    <a href="/Admin/ListCountries">Країни</a>
</p>
<p>
    <a href="/Admin/ListClubs">Клуби</a>
</p>
<hr />
<p>
    <a href="/Admin/ListVideos">Відео</a>
</p>
<p>
    <a href="/Admin/ListAlbums">Фотоальбоми</a>
</p>
<p>
    <a href="/Admin/ListNews">Новини</a>
</p>