@using BaseballUa.Data;
@model List<BaseballUa.ViewModels.AlbumVM>

@if (Model != null && Model.Count() > 0)
{
	foreach (var album in Model)
	{
		@if (album.Photos != null && album.Photos.Count() > 0)
		{
			@*<div class="row m-1">
				<div class="col">
					<a asp-action="ShowAlbum" asp-route-Id="@album.Id">
						<img class="img-thumbnail" src="~/images/photo/small/@album.Id/@album.Photos.First().FnameSmall" />
					</a>
				</div>*@
			<div class="p-0 me-1 mb-1">
				<a asp-action="ShowAlbum" asp-route-Id="@album.Id" class="p-0">
					<img class="rounded-2 border border-info" style="height:100px;" src="~/images/photo/small/@album.Id/@album.Photos.First().FnameSmall" />
					@*<img class="img-thumbnail" src="~/images/photo/small/@album.Id/@album.Photos.First().FnameSmall" />*@
					</a>
				</div>
			@*</div> object-fit: contain;*@
		}
	}
}
else
{
	<label>Нема альбомів</label>
}

<a class="btn btn-info mb-1 d-inline-flex align-items-center" asp-controller="Home" asp-action="ShowAlbums">
	<img class="pe-1" width="25" src="~/images/assets/albumSmall.png" />
	<span class="text-white">ВСІ</span>
</a>