<a class="btn btn-primary" href="/Admin55489/ListCategories">Вікові Категорії</a>
<a class="btn btn-primary" href="/Admin55489/ListTournaments">Види змагань</a>
<a class="btn btn-primary" href="/Admin55489/ListEvents">Турніри</a>
<a class="btn btn-primary" href="/Admin55489/ListCountries">Країни</a>
<a class="btn btn-primary" href="/Admin55489/ListClubs">Клуби</a>
<hr />
<a class="btn btn-primary" href="/Admin55489/ListVideos">Відео</a>
<a class="btn btn-primary" href="/Admin55489/ListAlbums">Фотоальбоми</a>
<a class="btn btn-primary" href="/Admin55489/ListNews">Новини</a>
<a class="btn btn-danger ms-5" href="/Admin55489/RegenerateCalendar?year=2024">Перегенерувати календар</a>
<a class="btn btn-danger ms-5" href="/Admin55489/ManageUsers">Управління юзерами</a>

