@model BaseballUa.ViewModels.ClubViewModel

@{
    ViewData["Title"] = "Add Club";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Додати клуб</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddClub">
            @Html.AntiForgeryToken()
            @*@Html.HiddenFor(c => Model.Id)*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invitation" class="control-label"></label>
                <input asp-for="Invitation" class="form-control" />
                <span asp-validation-for="Invitation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FnameLogoSmall" class="control-label"></label>
                <input asp-for="FnameLogoSmall" class="form-control" />
                <span asp-validation-for="FnameLogoSmall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FnameLogoBig" class="control-label"></label>
                <input asp-for="FnameLogoBig" class="form-control" />
                <span asp-validation-for="FnameLogoBig" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                @Html.DropDownListFor(c => Model.CountryId, new SelectList(ViewBag.CountriesSL, "Value", "Text"), optionLabel: "--- оберіть ---")
                @Html.ValidationMessageFor(c => c.CountryId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
