@using BaseballUa.Data;
@model BaseballUa.ViewModels.CountryViewModel

@{
    ViewData["Title"] = "Add Country";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Додати нову країну</h1>

<hr />
<div class="row m-2">
    <div class="col-md-4">
        <form asp-action="AddUpdateCountry"
              enctype="multipart/form-data"
              method="post">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="FnameFlagSmall" class="control-label"></label>
                <input asp-for="FnameFlagSmall" class="form-control" />
                <span asp-validation-for="FnameFlagSmall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FnameFlagBig" class="control-label"></label>
                <input asp-for="FnameFlagBig" class="form-control" />
                <span asp-validation-for="FnameFlagBig" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="FnameFlagSmall" class="form-control" value="@Constants.DefaultCountrySmallImage" />
            <input type="hidden" asp-for="FnameFlagBig" class="form-control" value="@Constants.DefaultCountryBigImage" />
            <div class="form-group m-2">
                <label class="control-label">Прапор: </label>
                <input type="file" name="formFiles" />
            </div>

            <div class="form-group m-1">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListCountries">Повернутися до списку стран</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
