@using BaseballUa.Data;
@model BaseballUa.ViewModels.PhotoVM

@{
    ViewData["Title"] = "Add Photo";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Додати фото до альбому (@ViewBag.album.Name | @ViewBag.album.PublishDate )</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPhoto">
            <input type="hidden" asp-for="AlbumId" value="@Model.AlbumId" />
            <div class="form-group">
                <label>Список імен фоток:</label>
                <textarea class="form-control" name="fnames" cols="1" rows="20"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
