@model BaseballUa.ViewModels.EventViewModel

@{
    ViewData["Title"] = "Create Tournament";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Створити новий турнір</h1>

<hr />

<form asp-action="CreateEvent">
    <div class="row m-2">
        <div class="col-4">
            <label asp-for="EventTeamsSL"></label>
            <div>
                @Html.ListBoxFor(x => x.EventTeamsIds, Model.EventTeamsSL, new {size = 20});
            </div>
        </div>
        <div class="col-4">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group m-1">
                <label asp-for="Tournament" class="control-label"></label>
                @Html.DropDownListFor(x => Model.TournamentId, new SelectList(Model.SelectTournament, "Value", "Text"), optionLabel: "--- оберіть ---")
                @Html.ValidationMessageFor(x => x.TournamentId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="ListEvents">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
