@using BaseballUa.Data;
@model BaseballUa.ViewModels.ClubViewModel

@{
    ViewData["Title"] = "Update Club logo";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Поновити клубне лого</h1>

<hr />
<div class="row m-2">
    @if(Model != null && Model.Id > 0)
    {
        <div class="col-md-2">
            <div>
                <img src="~/images/club/logoBig/@Model.FnameLogoBig" />
            </div>
            <div>
                <label class="control-label">@Model.Name</label>
            </div>
            <hr />

            <div class="m-2">
                <form asp-action="UpdateClubLogo" enctype="multipart/form-data" method="post">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(c => Model.Id)
                    <div class="form-group">
                        <label class="control-label">Нове лого: </label>
                        <input type="file" name="formFiles" />
                    </div>
                    <div class="form-group m-2">
                        <input type="submit" value="Поновити" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }

    <div>
        <a asp-action="ListClubs">Повернутися до списку клубів</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
