@using BaseballUa.Data;
@model BaseballUa.ViewModels.TeamViewModel

@{
    ViewData["Title"] = "Update Team logo";
}

<div class="container-fluid text-warning adminhead">
    <div class="mb-0 mt-2 mb-5 p-0">
        @await Html.PartialAsync("_AdminHead")
    </div>
</div>

<h1>Поновити лого команди</h1>

<hr />
<div class="row">
    @if(Model != null && Model.Id > 0)
    {
        <div class="col-md-4">
            <div>
                <label asp-for="Name" class="control-label">@Model.Name</label>
            </div>
            <div>
                <img src="~/images/team/logoBig/@Model.FnameLogoBig" />
            </div>
        </div>
        <div class="col-md-4">
            <form asp-action="UpdateTeamLogo" enctype="multipart/form-data" method="post">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(c => Model.Id)
                <div class="form-group">
                    <label class="control-label">Нове лого: </label>
                    <input type="file" name="formFiles" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Поновити" class="btn btn-primary" />
                </div>
            </form>
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
