@using BaseballUa.Data;
@model List<BaseballUa.ViewModels.EventViewModel>

@if (Model != null && Model.Count() > 0)
{
	foreach (var eventt in Model)
	{
		<a asp-controller="Event" asp-action="DetailsEvent" asp-route-id="@eventt.EventViewModelId">
			<div class="row mb-1 border border-1">
				<div class="row">
					<div class="col-1 m-1">
						<img width="25" height="25" src="~/images/sporttype/small/@(eventt.Tournament.Sport).png" />
					</div>
					<div class="col-1 m-1">
						<img width="25" height="25" src="~/images/category/small/@(eventt.Tournament.CategoryId).png" />
					</div>
					<div class="col-8">
						<h5 class="float-end">@eventt.Year</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<h6>@eventt.Tournament.Name</h6>
					</div>
				</div>
				
			</div>
		</a>
	}
}
else
{
	<label>Нема поточних турнірів</label>
}