@model BaseballUa.ViewModels.Custom.MainIndexVM
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid text-warning homehead">
    <div class="mt-2 mb-0 p-0 ">
        @await Html.PartialAsync("_Filters", Model.ApplyFilters)
    </div>

    <ul class="nav nav-tabs mt-5" role="tablist">
        <li class="nav-item bg-primary bg-opacity-75" role="presentation">
            <a class="nav-link border-white link-light bg-gradient" data-bs-toggle="tab" href="#tabvideos" aria-selected="false" role="tab" tabindex="-1">
                <img class="pe-2" width="25" src="~/images/assets/videoSmall.png" />Останні відео
            </a>
        </li>
        <li class="nav-item bg-primary bg-opacity-75" role="presentation">
            <a class="nav-link active border-white link-light bg-gradient" data-bs-toggle="tab" href="#tabevents" aria-selected="true" role="tab">
                <img class="pe-2" width="25" src="~/images/assets/tourSmall.png" />Актуальні турніри
            </a>
        </li>
        <li class="nav-item bg-primary bg-opacity-75" role="presentation">
            <a class="nav-link border-white link-light" data-bs-toggle="tab" href="#tabalbums" aria-selected="false" role="tab">
                <img class="pe-2" width="25" src="~/images/assets/albumSmall.png" />Останні альбоми
            </a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content mt-1 bg-primary bg-opacity-50 rounded-2">

        <div class="tab-pane fade" id="tabvideos" role="tabpanel">
            <div class="d-flex flex-row flex-wrap p-3 m-0">
                @await Html.PartialAsync("_VideosBlockRow", Model.LastVideos)
            </div>
        </div>

        <div class="tab-pane fade active show" id="tabevents" role="tabpanel">
            <div class="d-flex flex-row flex-wrap p-3 m-0">
                @await Html.PartialAsync("_EventsBlock2", Model.ActiveEvents)
            </div>
        </div>

        <div class="tab-pane fade" id="tabalbums" role="tabpanel">
            <div class="d-flex flex-row flex-wrap p-2 m-0">
                @await Html.PartialAsync("_AlbumsBlock2", Model.LastAlbums)
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-primary text-white bg-gradient bg-opacity-75 p-0 m-0 pe-3 pt-0">
    <div class="row justify-content-center pt-0 mt-0">
        <div class="col justify-content-center pt-0 mt-0">
            @await Html.PartialAsync("_NewsBlock6", Model.News)


            <ul class="pagination pagination-lg m-3">
                @if (Model.skipNewsPrev != -1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-skipNews="@Model.skipNewsPrev">&laquo;</a>
                    </li>
                    @*<a asp-route-skipNews="@Model.skipNewsPrev">Prev</a>*@
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">&laquo;</a>
                    </li>
                }

                @if (Model.skipNewsNext != -1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-route-skipNews=@(Model.skipNewsNext)>&raquo;</a>
                    </li>
                  @*  <a asp-route-skipNews=@(Model.skipNewsNext)>Next</a>*@
                }
                else
                {
                    <li class="page-item disabled">
                        <a href="#" class="page-link">&raquo;</a>
                    </li>
                }
            </ul>
            
           @* <div class="row">
                <div class="col">
                    @if (Model.skipNewsPrev != -1)
                    {
                        <a asp-route-skipNews="@Model.skipNewsPrev">Prev</a>
                    }
                    else
                    {
                        <label>NoPrev</label>
                    }
                </div>
                <div class="col">
                    @if(Model.skipNewsNext != -1)
                    {
                        <a asp-route-skipNews=@(Model.skipNewsNext)>Next</a>
                    }
                    else
                    {
                        <label>NoNext</label>
                    }
                </div>
            </div>*@

        </div>
    </div>
</div>