@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UA Baseball Softball page</h1>
    <p>History:</p>
    <p><img src="~/history/2208.jpg" class="img-thumbnail" /></p>
</div>


