html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.homehead {
    background-image: url('/images/bg/homec2.jpg');
    background-size: cover;
    /*height: 25vh;*/
    min-height: 330px;
    margin: 0;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%
    padding-bottom: 0;
}

.nav-link.active {
    background-color: rgba(var(--bs-info-rgb), 0.7) !important;
    color: var(--bs-white) !important;
}

.img-thumb {
    max-width: 15vh;
    border-radius: 5px;
    border: solid white 2px;
}

.img-medium-thumb {
    width: 95%;
    border-radius: 5px;
    border: solid white 2px;
}



/*.accordion.width {*/
    /*border: 1px solid rgba(0, 0, 0, 0.125);*/
    /*display: flex;
}

.accordion.width .accblock .accblockheader:not(.collapsed) {
    pointer-events: none;
}

.accordion.width .accblock .accblockheader {
    cursor: pointer;*/
    /*transform: rotate(180deg);
    writing-mode: vertical-rl;*/
/*}

.collapsing.width {
    transition: width 0.35s ease;
    height: auto;
    width: 0;
}*/





