@model BaseballUa.ViewModels.EventViewModel

@{
    ViewData["Title"] = "Detail Tournament";
}
 @*probably more info here? like news photos....*@
<div class="row">
    @await Html.PartialAsync("_EventDetails", Model)
</div>

<div class="row">
    @await Html.PartialAsync("_EventMenu", Model.EventViewModelId)
</div>




<div>
    <a asp-action="Index" asp-route-monthShift="@ViewBag.monthShift">Повернутися до списку</a>
</div>
