@using BaseballUa.ViewModels.Custom;
@model BaseballUa.ViewModels.Custom.EventDetailsFull

@{
    ViewData["Title"] = "Detail Tournament";
}

<div class="container-fluid text-white eventhead">
    @await Html.PartialAsync("_EventDetails", new EventWithNewsAndMedia{ Event = Model.Event,
                                                                        Albums = Model.Albums,
                                                                        Videos = Model.Videos,
                                                                        Games = Model.CurrentGames,
                                                                        News = Model.News })
</div>

<div class="container-fluid text-white m-0 p-3">
    @if (Model?.Event?.Tournament?.Description != null && Model.Event.Tournament.Description.Length > 0)
    {
        <div class="row bg-primary border border-1 border-white rounded-2 m-0 p-2">
            @Model.Event.Tournament.Description
        </div>
    }

    @if (Model?.Teams != null && Model.Teams.Count() > 0)
    {
        <div class="flex-row bg-primary border border-1 border-white rounded-2 m-0 mt-1 p-2">
            @foreach (var team in Model.Teams)
            {
                <a asp-controller="Club" asp-action="DetailsTeam" asp-route-teamId="@team.Id">
                    <img width="40" height="30" src="~/images/team/logoSmall/@team.FnameLogoSmall" />
                </a>
            }
        </div>
    }

    @if(Model?.News != null && Model.News.Count() > 0)
    {
        @*<div class="flex-row bg-primary border border-1 border-white rounded-2 m-0 mt-3 p-2 pe-0">*@
            @await Html.PartialAsync("_NewsBlock6", Model.News)
        @*</div>*@
    }



</div>






@*<div class="row">
    @await Html.PartialAsync("_EventDetails", new EventWithNewsAndMedia{ Event = Model.Event,
                                                    Albums = Model.Albums,
                                                    Videos = Model.Videos,
                                                    News = Model.News
                                                }
                            );
</div>

@if (Model.Teams != null && Model.Teams.Count() > 0)
{
    <div class="row">
        <div class="col-2">
            <strong>Фото відео команд: &gt;&gt;</strong>
        </div>
        <div class="col-10">
            @foreach (var team in Model.Teams)
            {
                <a asp-controller="Club" asp-action="DetailsTeam" asp-route-teamId="@team.Id">
                    <img width="40" height="30" src="~/images/team/logoSmall/@team.FnameLogoSmall" />
                </a>
            }
        </div>
    </div>
}
<div class="row">
    @await Html.PartialAsync("_EventMenu", Model.Event.EventViewModelId)
</div>



<div class="row mt-2">
    <div class="col-2">
        <div class="row">
            <div class="col">
                <h5><strong>Актуальні Ігри:</strong></h5>
                @await Html.PartialAsync("_GamesBlock2", Model.CurrentGames)
            </div>
        </div>
    </div>
    <div class="col-8">
        <h5><strong>Новини:</strong></h5>
        @await Html.PartialAsync("_NewsBlock6", Model.News)
    </div>
    <div class="col-2">
        <div class="row">
            <div class="col">
                <h5><strong>Останні альбоми:</strong></h5>
                @await Html.PartialAsync("_AlbumsBlock2", Model.Albums)
            </div>
        </div>
    </div>
</div>*@
