@using BaseballUa.ViewModels.Custom;
@using BaseballUa.ViewModels;
@model BaseballUa.ViewModels.Custom.EventSchemaFull;

@{
    ViewData["Title"] = "Detail Tournament";
}


<div class="row">
  @*  @await Html.PartialAsync("_EventDetails", new EventWithNewsAndMedia{ Event = Model, 
                                                    Albums = Model.SchemaItems.SelectMany(s => s.Groups).SelectMany(g => g.Games).SelectMany(g => g.Albums).ToList(),
                                                    Videos = Model.SchemaItems.SelectMany(s => s.Groups).SelectMany(g => g.Games).SelectMany(g => g.Videos).ToList(),
                                                    News = Model.News
                                                }
                            )*@
    @await Html.PartialAsync("_EventDetails", new EventWithNewsAndMedia{ Event = Model.Event,
    Albums = Model.Albums,
    Videos = Model.Videos,
    News = Model.News
    }
    )

</div>

<div class="row">
    @await Html.PartialAsync("_EventMenu", Model.Event?.EventViewModelId)
</div>


<div class="row mt-3">

    @{
        foreach (var schemaItem in Model.SchemaItems)
        {
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">@schemaItem.Order</div>
                <div class="card-body">
                    <h4 class="card-title">Групи етапу:</h4>
                    @{
                        foreach (var group in schemaItem.Groups)
                        {
                            <p class="card-text">@group.GroupName</p>
                            foreach (var team in group.VirtualTeams)
                            {
                                <img src="~/images/team/logoSmall/@team.FnameLogoSmall" />
                            }
                        }
                    }
                </div>
            </div>
        }
    }

</div>





<div>
    <a asp-action="Index" asp-route-monthShift="@ViewBag.monthShift">Повернутися до списку</a>
</div>
